<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Final Test</title>
    <link rel="stylesheet" href="bootstrap_css/bootstrap.min.css">
    <script src="bootstrap_js/bootstrap.bundle.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="js/ajax.js"></script>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
<div class="container p-0">
    <div class="row">
        <div class="col-6">
            <h1>Danh sách thành phố</h1>
        </div>
        <div class="col-6"><a href="newCity.html">Thêm thành phố</a></div>
    </div>
</div>
<table class="table table-hover rounded rounded-3 border">
    <thead>
    <tr>
        <th>#</th>
        <th>Thành phố</th>
        <th>Quốc gia</th>
        <th></th>
    </tr>

    </thead>
    <tbody id="table_body">
    </tbody>
</table>

<table class="table table-hover rounded rounded-3 border d-none" id="table_detail_city">
    <tbody>
    <tr>
        <th>Tên</th>
        <td><input id="detail_name" type="text"></td>
    </tr>
    <tr>
        <th>Quốc gia</th>
        <td id="detail_country"></td>
    </tr>
    <tr>
        <th>Diện tích</th>
        <td><input id="detail_area" type="text"></td>
    </tr>
    <tr>
        <th>Dân số</th>
        <td><input id="detail_people" type="text"></td>
    </tr>
    <tr>
        <th>GDP</th>
        <td><input id="detail_gdp" type="text"></td>
    </tr>
    <tr>
        <th>Giới thiệu</th>
        <td>
            <textarea class="form-control" id="detail_description" rows="3"></textarea>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button type="button" class="btn btn-primary" id="edit_btn">Chỉnh sửa</button>
            <button type="button" class="btn btn-primary">Xóa</button>
        </td>
    </tr>
    </tbody>
</table>
</body>
<script>
    $(document).ready(function () {
        getAllCities();
        $("#edit_btn").click(function () {

        })
    })
</script>
</html>